body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 1000px;
  height: 600px;
  padding: 40px;

  font-family: 'Permanent Marker', cursive;
  font-size: 10em;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.08em;
  color: red;

  border-radius: 25px;
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.23) 0px 6px 6px;

  /* Background properties */
  background-color: lightblue;
  /* background-image: url(./mary-jane.jpg), url(./joanna.jpg), url(./cookies.jpg); */
  /* background-repeat: no-repeat;
  background-position: top left, bottom right; */

  /* background-size: 200px, 300px, 400px; */
  /* background-attachment: fixed; */

  /* -webkit-background-clip: text;
  background-clip: text; */

  background-image: radial-gradient(
      circle at center,
      rgba(255, 0, 0, 0.744),
      rgba(0, 0, 255, 0.655)
    ),
    radial-gradient(circle at center, rgba(234, 0, 255, 0.3), rgba(246, 255, 0, 0.6)),
    radial-gradient(circle at center, rgba(255, 0, 0, 0.3), rgba(13, 255, 0, 0.3)),
    url(./cookies.jpg);
  background-repeat: no-repeat;
  background-size: 150px 150px, 200px 200px, 300px 300px, cover;
  background-position: top left, top right, bottom center, center;
}

.wrapper::first-letter {
  font-size: 2em;
}

.wrapper::before {
  /* content: 'text + '; */
  /* display: block;
  width: 100px;
  height: 4px;
  border-radius: 5px; */

  color: teal;
}
.wrapper::after {
  /* content: ' + text'; */
  /* display: block;
  width: 100px;
  height: 4px;
  border-radius: 5px; */

  color: teal;
}
