.benefits {
  @extend %section;
}

.benefits-container {
  display: flex;
  gap: 30px;

  @include mq(not-desktop) {
    flex-direction: column-reverse;
    gap: 44px;
  }
}

.benefits-left-side {
  @include mq(tablet-only) {
    align-self: flex-end;
  }
  @include mq(desktop) {
    flex-basis: 50%;
  }
}

.benefits-list {
  max-width: 450px;
  min-width: 370px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.benefits-item {
  width: 194px;
  min-height: 133px;
  padding: 20px 36px;

  text-align: center;
  background-color: var(--grey-bg-cl);

  &:nth-child(2n) {
    margin-top: 30px;
    margin-left: 30px;
  }

  @include mq(tablet) {
    width: 210px;
    padding: 20px 44px;
  }
  @include mq(desktop) {
    width: 170px;
    padding: 20px 24px;
  }
}

.benefits-right-side {
  @include mq(tablet) {
    width: 500px;
  }
}

.benefits-quantity {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
}

.benefits-decor {
  position: absolute;
  top: 0;
  right: 0;

  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: var(--accent-txt-cl);
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
}
