.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: var(--idx-header);

  background-image: linear-gradient(rgba(25, 28, 38, 0.7), rgba(25, 28, 38, 0.3) 80%, transparent);
  background-position: top -120px left;
  background-repeat: no-repeat;
  backdrop-filter: blur(2px);

  transition: background-position 300ms ease, backdrop-filter 300ms ease;

  &.transparency {
    background-position: top left;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  @include mq(tablet) {
    margin-right: 70px;
  }
  @include mq(desktop) {
    margin-right: 131px;
  }
}

.header__img {
  fill: var(--main-txt-cl);
  transition: fill var(--anim-fast);

  .header.transparency & {
    fill: var(--grey-bg-cl);
  }

  @include mq(phone-only) {
    fill: var(--grey-bg-cl);
  }
}

.header-contact {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);
  transition: color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }

  @include mq(not-desktop) {
    display: none;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;

  padding-right: 20px;

  @include mq(phone-only) {
    display: none;
  }
}
