@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  5% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  10% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  18% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes logo-rotate {
  0% {
    transform: rotate3d(0);
  }
  100% {
    transform: rotate3d(0, 1, 0.5, 360deg);
  }
}

@keyframes to-bottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes to-top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes to-left {
  0% {
    transform: translateX(250px);
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
